

# VerificationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**address** | [**ShuftiAddressResultResponse**](ShuftiAddressResultResponse.md) |  |  [optional] |



